form {
    display: flex;
    flex-direction: column;
}

form header {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

form h1,
p {
    margin-bottom: 0.25rem;
}

form h1 {
    font: var(--title);
    color: var(--content-primary);
}

form p {
    font: var(--pg-medium);
    color: var(--content-secondary);
}

.close {
    display: none;
}

.form-popup {
    visibility: hidden; /* Mantém o espaço do elemento, mas esconde */
    opacity: 0;
    width: 30rem;
    padding: 2rem;
    background: var(--background-tertiary);
    border-radius: 0.75rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 50px #9282fa69);
    z-index: 2;
    transition: opacity 0.10s ease
}

.form-popup.ativo {
    visibility: visible;
    opacity: 1;
}

.input-inner {
    position: relative;
    margin-top: 0.125rem;
}

.input-inner:hover {
    border: 1px solid var(--border-secondary);
}

/* Aplicado o focus ao container */
.input-inner:has(input:focus),
.input-inner:has(textarea:focus) {
    border: 1px solid var(--border-brand);
    /* Aplica a borda ao contêiner */
}

fieldset {
    border: none;
    font: var(--lb-medium);
    color: var(--content-primary);
    padding-bottom: 16px;
}

#description {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font: var(--lb-medium);
    color: var(--content-primary);
}

.input-inner {
    border: 1px solid var(--border-primary);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 12px;

    & input, select {
        border: none;
        background: none;
        width: 100%;
        padding: 8px;
        outline: none;
        font: var(--lb-medium);
        color: var(--content-primary);
    }

    & select {
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding-right: 32px;
        background-image: url("../assets/down.svg");
        background-repeat: no-repeat;
        background-position: right 10px center;
        display: flex;
    }
}

.option {
    color: var(--content-primary);
    background-color: var(--border-brand);
}

.option-unavaible {
    color: var(--content-primary);
    pointer-events: none;
    background-color: var(--border-secondary);
}

 
.hourSchedule {
    display: flex;
    gap: 16px;

    & #date {
        width: 10rem;
    }
}

.btn-submit {
    font: var(--lb-large);
    padding: 12px 24px;
    background: var(--background-brand);
    border: none;
    border-radius: 8px;
    width: 30%;
    margin-left: auto;
}

.btn-submit:hover{
    background-color: #BDB4FA;
}

#hours {
    width: 100%;
}

@media (width <= 40rem) {
    .form-popup {
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-submit {
        display: flex;
        justify-content: center;
    }

    .hourSchedule {
        display: grid;
        gap: 1px;
    }

    .close {
        display: flex;
        justify-content: end;
        margin-top: -20px;
    }
    
    form h1 {
    margin-top: -10px;
    }
}